#nav{
  background-color: #066163;
  color: #fff;
}

.container-fluid{
  padding: 1% 15% ;
  background-color: #B5C0D0;
}
.fi{
  text-align: center;
  width: 55%;
  position: relative;
}
.fi p {
  padding-left: 40%;  
}
h1{
  padding-top:70px;
  padding-left: 40%;
}
.fi1 {
text-align: center;
}
.fi2 {
  padding: 30px 30px;
  text-align: center;
 
}
hr{
  border-style:none;
  border-top-style:dashed;
  border-color: grey;
  border-width: 5px;
  width: 5%
}
h1{
  color: #3EDBF0;
}
#testimonials{
  padding: 7% 15%;
  text-align: center;
}
.project {
  text-align: center;
  padding: 50px 30px;
}
.testimonial-image {
  width: 20%;
 border-radius:80%;
 margin:20px;
}
#footer {
  padding: 3% 5%;
  background-color: #066163;
  text-align: center;
  }
  .social-media {
    margin: 20px 20px;
    cursor: pointer;
  }
  .image{
    display: flex;
    flex-wrap: wrap;
    position:relative;
    left: 80px;
    bottom: 40px;
  }
h3{
  text-align: center;
}